#Knheader {
	height: 200px;
	background-image: url("../resources/images/Knheader.jpg");
	width:100%;
	position: relative;	
}

#Knheaderbq {
	color: white;
	position: absolute;
	margin-bottom: 0px;
	bottom: 0px;
	
	margin-left: 4%;
	margin-right: 0px;
	border-left: 0px;
}

#headercontainer {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;

}

#Knpgcontent {
	display: none;
}
#knpgheader {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
#knerrorline {
	height : 20px;
}

.kncatlibtn {
	padding: 2px;
	margin-left: 2px;
}